.header{
    justify-content: space-between;
    display: flex;
    padding: 0 14px;
}

.logo{
    width: 140px;
    height: 100px;
}

.nav-items{
    display: flex;
    align-items: center;
}
.nav-items > ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 30px;
}

.nav-items>ul >li{
    justify-content: space-between;
    list-style: none;
    display: flex;
    padding: 2px 10px;
    font-size: 16px;
    font-weight: 500;
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
}